#_output{
	padding: 0px;
	font-size: 12px;
}
#_output img {
	border: 1px solid #DDD;
	padding: 5px;
}

/* progress bar style */
#_progressbox {
	border: 1px solid #92C8DA;
	padding: 1px; 
	position:relative;
	width:100%;
	border-radius: 3px;
	margin: 0px;
	display:none;
	text-align:left;
}
#_progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #77E0FA;
	width:1%;
}
#_statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #000000;
}